.goc-radio-mat-but{
    margin: 3px; 
}

.goc-radio-mat-grp{
    display: inline-flex;
    flex-direction: column;
}

.goc-mat-raised-but{
    background-color: primary;
}

.ircc-mat-input-name{
    width: 40%;
}

.ircc-mat-input-small{
    width: 15%;
}

.ircc-mat-input-med{
    width: 25%;
}

.ircc-mat-input-large{
    width: 50%;
}

.ircc-mat-input-date{
    width: 8%;
}