<span><h2>Adult Simplified Renewal Passport Application</h2></span>
<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="piNamesFG">
    <form [formGroup]="piNamesFG">
        <ng-template matStepLabel>Names</ng-template>
        <div class="panel panel-default">
          <div class="panel-heading">Names</div>
          <div class="form-group panel-body">
            <div formGroupName="primaryName">
              <mat-form-field class="ircc-mat-input" appearance="outline">
                <mat-label>Surname (last name)</mat-label>
                <input matInput formControlName="lastName">
                <mat-hint align="end">Family name (max 50 chars)</mat-hint>
              </mat-form-field><br>
              <mat-form-field class="ircc-mat-input" appearance="outline">
                <mat-label>Given Name(s)</mat-label>
                <input matInput formControlName="firstName">
              </mat-form-field>
            </div>
            <div formGroupName="birthName" class="form-group">
              <mat-form-field class="ircc-mat-input" appearance="outline">
                <mat-label>Surname (last name) at birth</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
            <div formGroupName="formerName" class="form-group">
              <mat-form-field class="ircc-mat-input" appearance="outline">
                <mat-label>Former surname (last name)</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
            <div formGroupName="maidenName" class="form-group">
              <mat-form-field class="ircc-mat-input" appearance="outline">
                <mat-label>Mother's maiden name (last name)</mat-label>
                <input matInput formControlName="lastName">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
            <button mat-raised-button class="goc-mat-raised-but" matStepperNext>Next</button>
        </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="piBioInfoFG">
      <form [formGroup]="piBioInfoFG">
        <ng-template matStepLabel>BioInfo</ng-template>
        <div class="panel panel-default">
          <div class="panel-heading">Place of Birth</div>
          <div formGroupName="pob" class="form-group panel-body">
              <label class="center-block">City
                <input class="form-control" formControlName="city">
              </label>
              <label class="center-block">Country
                  <input class="form-control" formControlName="country">
              </label>
              <label class="center-block">Provice/State/Terr
                <select class="form-control" formControlName="provstate">
                  <option *ngFor="let prov of provs" [value]="prov">{{prov}}</option>
                </select>
              </label>
          </div>
        </div>
          <div class="panel panel-default">
              <div class="panel-heading">Date of Birth</div>
              <div formGroupName="dob" class="form-group panel-body">
                  <label class="center-block">Year
                    <input class="form-control" formControlName="year" placeholder='YYYY'>
                  </label>
                  <label class="center-block">Month
                      <input class="form-control" formControlName="month" placeholder='MM'>
                  </label>
                  <label class="center-block">Day
                      <input class="form-control" formControlName="day" placeholder='DD'>
                  </label>
                </div>
          </div>
          <div class="panel panel-default">
            <div class="form-group panel-body">
              <label class="center-block">Eye Colour
                <input class="form-control" formControlName="eyeColor">
              </label>
              <!--<div class="form-group radio">
                <h4>Gender</h4>
                <label class="center-block">
                  <input type="radio" class="form-check-input" 
                    formControlName="gender" value="Male">Male
                </label>
                <label class="center-block">
                    <input type="radio" class="form-check-input" 
                      formControlName="gender" value="Female">Female
                </label>
              </div>-->
              <h4>Gender</h4>
              <mat-radio-group class="goc-radio-mat-grp" formControlName="gender">
                <mat-radio-button class="goc-radio-mat-but" 
                  value="Male">Male
                </mat-radio-button>
                <mat-radio-button class="goc-radio-mat-but" 
                  value="Female">Female
                </mat-radio-button>
              </mat-radio-group>
              <label class="center-block">Height
                  <input class="form-control" formControlName="height">
              </label>
            </div>
          </div>
          <div>
              <button mat-raised-button class="goc-mat-raised-but" matStepperPrevious>Back</button>
              <button mat-raised-button class="goc-mat-raised-but" matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>
  <mat-step [stepControl]="piContactInfoFG">
    <form [formGroup]="piContactInfoFG">
      <ng-template matStepLabel>Contact Info</ng-template>
      <div class="panel panel-default">
          <div class="panel-heading">Phone Numbers</div>
          <div formGroupName="homeTel" class="form-group panel-body">
            <mat-form-field class="ircc-mat-input" appearance="outline">
              <mat-label>Home Phone</mat-label>
              <input matInput formControlName="phoneNum">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="end">xxx-xxx-xxxx</mat-hint>
            </mat-form-field><br>
          </div>
      </div>
      <div>
        <button mat-raised-button class="goc-mat-raised-but" matStepperPrevious>Back</button>
        <button mat-raised-button class="goc-mat-raised-but" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="piAddressFG">
      <form [formGroup]="piAddressFG">
          <ng-template matStepLabel>Addresses</ng-template>
          <button (click)="addAddress()" type="button">Add Address</button>
          <div class="well well-lg" formArrayName="addresses">
              <div *ngFor="let addr of addresses.controls; let i = index" [formGroupName]="i">
                <h4>Address #{{i+1}}</h4><br>
                <div class="form-group">
                  <label class="center-block">Type:
                    <select class="form-control" formControlName="type">
                      <option *ngFor="let addrtype of addrTypeLovs" [value]="addrtype">{{addrtype}}</option>
                    </select>
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Street#:
                    <input class="form-control" formControlName="streetNum">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">StreeLine1:
                    <input class="form-control" formControlName="streetLine1">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">StreetLine2:
                    <input class="form-control" formControlName="streetLine2">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">City:
                    <input class="form-control" formControlName="city">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Province:
                    <select class="form-control" formControlName="provstate">
                      <option *ngFor="let prov of provs" [value]="prov">{{prov}}</option>
                    </select>
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Postal Code:
                    <input class="form-control" formControlName="postzip">
                  </label>
                </div>
              </div>
            </div>
            <div>
              <button mat-raised-button class="goc-mat-raised-but" matStepperPrevious>Back</button>
              <button mat-raised-button class="goc-mat-raised-but" matStepperNext>Next</button>
            </div>
      </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <b>Names (JSON) : </b>{{piNamesFG.value | json}}
    <div>
      <button mat-raised-button class="goc-mat-raised-but" matStepperPrevious>Back</button>
      <button mat-raised-button class="goc-mat-raised-but" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

